<!-- Listing 7.24: A partial for displaying form sumission erro messages. -->
<!-- Listing 10.32: Updating the error-messages partial from Listing 7.24 to work with other objects. -->
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
