<!-- Listing 3.27: Moved all html structure to layouts/application.html.erb -->
<!-- Listing 10.28: Adding microposts creation to the Home page (/). -->
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <!-- Listing 11.21: Adding follower stats to the user Home page. -->
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <!-- Listing 10.41: Adding a status feed to the Home page. -->
  <div class="span8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
